<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
  <div class="container bg-blur rounded mt-1 mb-4">
    <div class="row mt-1 mb-2">
      <div class="col-6 mt-1 mb-1">
        <span class="p-3" th:text="|Welcome, user with id: ${@loggedUser.id}!|"></span>
        <div class="bg-dark rounded m-auto" style="height: 68.5vh; overflow: auto">
          <div class="container bg-blur rounded mt-5 ">
            <h1>Work in progress, please switch to postman for further testing!</h1>
            <hr class="my-3 bg-white w-50"/>

            <h3>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>